/* NORMALIZE */
html {
  font-size: 16px;
}

body {
  padding: 0;
  margin: 0;

  background-color: #ffffff;
  background-image: radial-gradient(#aaaaaa 20%, transparent 20%);
  background-position: 0 0, 10px 10px;
  background-size: 8px 8px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

strong {
  font-weight: 600;
}

hr {
  border: transparent 1px solid;
  border-bottom: 2px dotted #000000;
}
