/* Base font */
html {
    font-size: 0.726rem;
}

body {
    background-color: rgb(17, 17, 20);
}

* {
    color: white;
    font-family: Neue Haas Grotesk Text Pro;
    font-style: normal;
    font-weight: 400;
    line-height: 142.02%;
}

a:hover {
    color: pink;
    text-decoration: none;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 2em;
    /* margin-top: 0; */
}

hr {
    border: 1px gray dashed;
    margin-top: 70px;
}

strong {
    font-weight: 600;
}

.svgIcon {
    width: 2rem;
    margin: 2.5rem;
    margin-left: 0;
}

@media only screen 
  and (min-width: 40em) { 

    h1 {
        font-size: 3rem;
        line-height: 142.02%;
    }

    .svgIcon {
        width: 2.5rem;
        margin: 3.5rem;
    }

}